*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* word-spacing: 1px; */
}
html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
}
.grid{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
}
.hov:hover{
    background-color: #787878;
    color: #0ca8c9;
}
.hov-text:hover{
    color: #0ca8c9;
    z-index: 2;
}
.chuxanh{
    color: #20acca;
    display: inline-block;
}
.grey {
    color: #8f8f8f !important;
}
#main{}
#header{}

.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}
.header-top-info{}

.header-top-info li{
    display: inline-block;
    margin: 20px 3px 20px 0px;
}
.header-top-background{
    width: 100%;
    background-color:#222222;
    height: 72px;
}
.header-top{
    background-color:#222222;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: auto;
    height: 100%;
    justify-content: space-between;
}
.header-top-info{
    display: flex;
    height: 100%
}
.header-top-info-left{
    display: flex;
    text-decoration: none;
    padding-right: 10px;
    line-height: 12px;
}
.change-lang img {
    padding: 0px 5px;
}
.header-top-Language{
    margin: 24px 0px;
}
.header-top-Language:hover{
    background-color: #696969;
    color: #0ca8c9;
}
.change-lang .change-language li:hover{
    background-color: #696969;
    color: #0ca8c9;
}
.header-top-Language a{
   text-decoration: none;
   color:#bababa;
   font-size: 12px;
}
.border-icon-info{
    border: 1px solid #0ca8c9;
    width: 32px;
    height: 32px;
    color: #0ca8c9;
}
.icon-info{
    padding: 5px 7px;
    color: #0ca8c9;
}
.change-lang{
    position: relative;
}
.change-lang:hover .change-language{
    display: block;
}
.change-lang .change-language {
    position: absolute;
    list-style: none;
    display: none;
    background-color:#222222;
    color:#bababa;    
    text-align: -webkit-left;
    width: 121px;
    z-index: 2;
}
/* icon language */
.icon-english{
    padding-left: 30px;
    color: #787878;
    cursor: pointer;
}
.header-top-info-left h5{
    color: #bababa;
    text-align: left;
    font-size: 12px;
    padding: 0px 10px 6px 10px;
    font-family: 'Poppins', sans-serif;
}
.header-top-info-left .text-header-top a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 0px 10px;
    font-family: 'Poppins', sans-serif;
}
/* ----------------------------------------------------------- */
/* Begin header-center */
.header{}
.search{
    height: 43px
}
.center-info {
    padding: 23.8px 0;
    height: auto;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-center{
    max-width: 100%;
}
.search-cart{
    display: flex;
    align-items: center;
}
.search_preventive{
    display: none;
}
.category {
    position: relative;
    border: 0;
    margin-right: 14px;
    margin-left: 16px;
    padding: 6px;
    cursor: pointer;
    color: #8f8f8f;
    outline: none;
    z-index: 1;
}
.category-show{
    position: absolute;
    top: 40px;
    left: 3px;
    display: none;
    font-size: 0;
}
.category a{
    text-decoration: none;
    color: #8f8f8f;
    font-size: 12px;
    padding-top: 4px;
}
.category span i{
    padding: 6px 14px;
}
.category-show li{
    list-style: none;
    padding: 6px 20px;
    padding-right: 48px;
    background-color: #fff;
    border-top: 1px solid #8f8f8f4d;
    border-left: 1px solid #8f8f8f4d;
    border-right: 1px solid #8f8f8f4d;
}
.category-show li:last-child{
    border-bottom: 1px solid #8f8f8f4d;
}
nav.navbar.navbar-light {
    border: 0.1px solid #ebebeb;
    border-radius: 50px 50px 50px 50px;
    border-right: 0;
    height: 40px;
}
.form-control input{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    margin: 8px 0px;
    padding: 3px 175px 3px 20px;
    outline: none;
    border-left-color: #e0e0e040;
    font-size: 12px;
}
.glass{
    color: #fff;
}
button.btn.btn-info {
    border-radius: 0 50px 50px 0;
    border-left: 0;
    padding: 9.5px 23px;
    height: 100%;
    border: none;
    background-color: #20acca;
    cursor: pointer;
}
.setting-cart{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8px;
    margin-top: 8px;
}
.cart {
    color: #20acca;
    font-size: 26px;
    position: relative;
    width: 100%;
    height: 100%;
}
.icon-setting {
    margin: 0 19px;
    cursor: pointer;
    position: relative;
}
.setting-cart .setting .gear-setting{
    position: absolute;
    top: 140px;
    right: 438px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 16px;
    border-color: transparent transparent #f5f5f5 transparent;
    display: none;
}
.setting-cart .setting .setting-click{
    width: 300px;
    height: 300px; 
    box-shadow: #403c3cba 0px 2px 2px 1px;
    position: absolute;
    top: 155px;
    right: 435px;
    z-index: 1;
    display: none;
}
.setting-cart .setting .setting-click img{
    max-width: 100%;
    object-fit: contain;
}
.icon-cart{
    cursor: pointer;
    position: relative;
}
.on_off_cart{
    height: auto;
    display: none;
}
.show {display:block;}
.close {display: none;}
.setting-cart .cart .gear-cart{
    position: absolute;
    top: 34px;
    right: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 16px;
    border-color: transparent transparent #f5f5f5 transparent;
    /* display: none; */
}
.setting-cart .cart .cart-click{
    /* display: none; */
    width: 500px;
    height: 80vh; 
    box-shadow: #403c3cba 0px 2px 2px 1px;
    position: absolute;
    top: 50px;
    right: -5px;
    z-index: 2;
    background-color: #f5f5f5;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    overflow-y: scroll;
    font-size: 18px
}
.cart >span{
    position: absolute;
    top: 0px;
    right: -5px;
    background-color: #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    color: #fff;
    align-items: center;
}
/* ---------------------------cart--------------------- */
.cart-click table{
    width: 100%;
}
.cart-click table thead tr th:first-child{
    text-align: left;
    padding-left: 20px;
}
.cart-click table tr td{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.cart-click form table tbody tr td:first-child{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.cart-click form table tbody tr td img{
    width: 70px;
}
.cart-click form table tbody tr td input{
    width: 30px;
    outline: none;
}
.cart-click form table tbody tr td:last-child{
    cursor: pointer;
}
.cart-click .price-total{
    text-align: right;
    padding-right: 12px;
}
.cart-click button {
    float: right;
    margin: 10px 13px;
    font-size: 18px;
    padding: 1px 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: #ccc;
}
/* End header-center*/
/* -------------------------------------------- */
/* Header Bottom */
.header{}
.header-bottom-background {
    background-color: #0ca8c9;
}
.header-botton-flex{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.menu-categories {
    display: flex;
    height: 22px;
    margin: auto 0;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.categori-menu {
    display: flex;
    justify-content: center;
}
.menu-categories a{
    color: #fff;
    text-decoration: none;
    padding-left: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.menu-categories .categori{
    list-style: none;
    text-decoration: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    line-height: 40px;
    top: 37px;
    width: 190px;
    left: 0px;
    display: none;
}
.menu-categories .categori a{
    color: #000;
}
.menu-categories .categori i{
    float: right;
    padding: 12px;
}
.navbar-menu .nav{
    display: flex;
    justify-content: space-between;
}
.navbar-menu .nav li{
    width: 100px;
    list-style: none;
    text-align: center;
}
.navbar-menu .nav li:hover a{
    color: #000;
}
.navbar-menu .nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.navbar-menu .nav li a:last-child{
    padding-right: 0;
}
/* navbar mobie */
.navbar-btn{
    font-size: 34px;
    height: 50px;
    color: #fff;
    display: none;
    margin: auto 0;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.bars-staggered{
    display: flex;
    justify-content: space-between;
    margin: 8px;
}
.bars-staggered a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px 0;
    padding-left: 6px;
}
.bars-staggered a:hover{
    color: #000;
}
.navbar-btn .navbar-btn-show{
    list-style: none;
    text-decoration: none;
    position: absolute;
    background-color: #0ca8c9;
    z-index: 1;
    line-height: 30px;
    top: 50px;
    width: 100px;
    right: 0px;
    display: none;
}
.navbar-btn .navbar-btn-show li{
    width: 100px;
    list-style: none;
    text-align: center;
}
.navbar-btn .navbar-btn-show li a{
    color: #fff;
    text-decoration: none;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.navbar-btn .navbar-btn-show li a:hover{
    color: #000;
}
/* END HEADER */
/* BEGIN SLIDER */
.next-slide{
    max-width: 100%;
    height: 750px;
}
.slider{
    position: relative;
    display: none;
}
.slider .img-next-slider{
    width: 100%;
    height: 750px;
}
.slider .img-next-slider img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.next-slide .fade{
    /* animation-name: fade; */
    animation-duration: 5s;
} 
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    /* from{ transform: rotate(180deg);}
    to { transform: rotate(0deg);} */
  }
.slider .text-slider{
    position: absolute;
    bottom: 312px;
    left: 20%;
    padding-left: 3px;
    font-family: 'Poppins', sans-serif;
}
.slider .text-slider h1{
    font-size: 70px;
    color: #000;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}
.slider .shop-now a:hover{
    color: #0ca8c9;
}
.text-description{
    font-size: 18px;
    color: #8f8f8f;
}
.shop-now{
    position: absolute;
    bottom: 235px;
    left: 20%;
    margin-left: 6px;
    border-bottom: 3px solid #0ca8c9;
    padding-bottom: 4px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.shop-now a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}
.arrow-slider{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 46%;
    padding: 0 20px;
    z-index: 8;
}
.arrow-slider .arrow-left{
    font-size: 31px;
    border-bottom: 60px solid white;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 66px;
    padding-right: 3px;
}
.arrow-slider .arrow-left:hover{
    border-bottom: 60px solid #0ca8c9;
    color: #fff;
}
.arrow-slider .arrow-right:hover{
    border-top: 60px solid #0ca8c9;
    color: #fff;
}
.arrow-slider .arrow-right{
    font-size: 31px;
    border-top: 60px solid white;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 66px;
    position: relative;
}
.next-left-slider{
    margin: 40% 0% 0% 45%;
}
.next-right-slider{
    margin: -95% 0% 0% 30%;
    position: absolute;
}
/* END SLIDER */
.row{}
/* Begin item-row  */
.item{
    width: 100%;
    height: 160px;
}
.item-row{
    display: flex;
    padding-top: 60px;
}
.row_item_1,
.row_item_2{
    display: flex;
    justify-content: space-around;
}

.item-hot{
    display: flex;
    width: 293px;
    cursor: pointer;
}
.free-ship-icon{
    background-image: url("/assets/fonts/shipping.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.support-247-icon{
    background-image: url("/assets/fonts/support247.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: -2px;
}
.day-to-return-icon{
    background-image: url("/assets/fonts/day-return.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    /* margin-left: -10px; */
}
.secure-payments-icon{
    background-image: url("/assets/fonts/payments.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 7px;
    width: 40px;
    height: 40px;
}
.item-hot .icon{
    margin-right: 20px;
}
.secure-payments{
    margin-left: -10px;
}
.item-content{
    line-height: 20px;
}
.item-content a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 16px;
}
.item-content span{
    font-size: 14px;
}
/* END item-row  */
/* ---------------------- */
/* Begin Sale-hot */
.sale-hot{
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 510px;
    justify-content: space-between;
}
.sale-main{
    height: 510px;
}
.sale-main .img-deal1{
    height: 100%;
    position: relative;
}
.sale-main .img-deal1 img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.sale-main .img-deal1 .time-countdown{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    bottom: 124px;
    display: flex;
    column-gap: 10px;
}
.time-countdown .countdown{
    position: relative;
    background-color: #fff;
    width: 60px;
    height: 60px;
}
.time-countdown h5{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: #0ca8c9;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    bottom: 20px;
}
.time-countdown span{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    bottom: 10px;
}
.sale-main .img-deal1 .text-sale{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    width: 400px;
    bottom: 60px;
}
.sale-main .img-deal1 .sale-up-to{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    bottom: 35px;
    color: #8f8f8f;
}
.to-percent{
    color: #0ca8c9;
    font-family: 'Poppins', sans-serif;
}
.sale-extra {
    height: 510px;
}
.sale-top{
    height: 240px;
}
.sale-extra .img-deal2{
    width: 100%;
    height: 100%;
    position: relative;
}
.sale-extra .img-deal2 img{
    max-width: 100%;
    height: 100%;
}
.sale-extra .img-deal2 h3{
    position: absolute;
    font-size: 60px;
    padding-left: 27px;
    bottom: 43%;
    font-weight: 600;
}
.sale-extra .img-deal2 .text-sale{
    position: absolute;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    bottom: 37%;
    font-weight: 600;
}
.sale-extra .img-deal2 .sale-up-to{
    position: absolute;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    bottom: 26%;
    color: #8f8f8f;
}
.sale-bottom{
    height: 240px;
    margin-top: 30px;
}
.sale-extra .img-deal3{
    width: 100%;
    height: 100%;
    position: relative;
}
.sale-extra .img-deal3 img{
    max-width: 100%;
    height: 100%;
}
.sale-extra .img-deal3 .text-sale{
    position: absolute;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    bottom: 47%;
}
.sale-extra .img-deal3 .sale-up-to{
    position: absolute;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    bottom: 37%;
    color: #8f8f8f;
}
/* End Sale-hot */
/* ---------------------- */
/* Begin Top selling */
.top-selling {
    height: 995px;
}
.toptop-selling{
    display: flex;
    height: 185px;
    justify-content: space-between;
}
.selling-title{
    position: relative;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.selling-title h2{
    position: absolute;
    font-size: 42px;
    justify-content: left;
    width: 300px;
    margin: 65px 0;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
}
.selling-title span{
    position: absolute;
    color: #f5f5f5;
    font-size: 90px;
    justify-content: left;
    margin: 25px 0;
    font-weight: 600;
    margin-left: -4px;
}
.top-selling .next-arrow-title{
    display: flex;
    font-size: 32px;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
    cursor: pointer;
    color: #bababa;
    margin-right: -6px;
}
.top-selling .next-arrow-title .arrowleft{
    margin-right: 19px;
}
.top-selling .next-arrow-title .arrowleft:hover{
    color: #0ca8c9;
}
.top-selling .next-arrow-title .arrowright:hover{
    color: #0ca8c9;
}
.items-selling{
    height: 810px;
}
.items-selling-next{
    display: none;
    margin-left: -30px;
}
.items-selling .r1{
    display: flex;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.items >span{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin-top: 10px 0;
    line-height: 22px;
    padding-top: 10px;
}
.items span:hover{
    color: #0ca8c9;
}
.items p {
    color: #0ca8c9;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}
.items p .price_1{
    color: #0ca8c9;
    font-size: 13px;
    font-weight: 600;
}
#gach{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
#gach del {
    color: #696969;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}
.items{
    position: relative;
    cursor: pointer;
    width: calc(25% - 30px);
    margin-left: 30px;
    margin-bottom: 5%;
}
.items img{
    max-width: 100%;
    width: 100%;
}
#addcart{
    position: absolute;
    width: 100px;
    height: 30px;
    padding-top: 2px;
    background-color: #0ca8c9;
    color: white;
    top: 65%;
    left: 50%;
    transform: translateX(-50px);
    z-index: 2;
    margin: 0px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    display: none;
    font-family: 'Poppins', sans-serif;
}
.items:hover #addcart{
    display: block;
}
#addcart:hover{
    border: 2px solid #fff;
    color: #000;
}
/* .items-selling .r2{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
    column-gap: 29px;
} */
/* End Top salling */
/* ---------------------------- */
/* Begin Latest new */
.new{
    background: url('../fonts/BG-latest-new.png');
    height: 665px;
}
.new .latest-title{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    position: relative;
    height: 225px;
}
.new .latest-title h2{
    position: absolute;
    justify-content: center;
    font-size: 42px;
    top: 100px;
    z-index: 1;
    font-weight: 600;
}
.new .latest-title span{
    position: absolute;
    justify-content: center;
    color: #ebebeb;
    font-size: 90px;
    top: 63px;
    font-weight: 700;
    
}
.latest-items{
    display: flex;
    justify-content: space-between;
    height: 440px;
    width: 1140px;
}
.new-items{
    width: 360px;
    height: 340px;
    display: flex;
    flex-direction: column;
}
.new-items:hover{
    color: #0ca8c9;
}
.newitem-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.latest-items .new-items img{
    max-width: 100%;
}
.latest-items .new-items h5{
    width: 100%;
    min-height: 70%;
    cursor: pointer;
    font-style: 500;
    font-size: 16px;
    line-height: 25px;
    margin-top: 16px;
}
.latest-items .new-items p{
    bottom: 0px;
    font-size: 12px;
    color: #8f8f8f;
    cursor: default;
}

/* End Latest new */
/* ---------------------------- */
/* Begin newsletter */
.newsletter{
    background-color: #222222;
    height: 400px;
    position: relative;
    justify-content: center;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;

}
.newsletter .text-keepget h3{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 600;
    margin-top: 87px;
    font-size: 32px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 0 15px;
}
.newsletter .text-keepget p{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 14px;
    margin-top: 148px;
    width: 100%;
    font-weight: 400;
    padding: 0 15px;
}
.newsletter .form-signup{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    border: #000 solid 1px;
    border-radius: 50px;
    background-color: #fff;
    width: 775px;
    height: 70px;
    bottom: 100px;
}
.newsletter .form-signup .signup{
    display: flex;
    justify-content: space-between;
    padding: 6px 6px;
    height: 68px;
}
.newsletter .form-signup .signup input{
    outline: none;
    border: 0;
    border-radius: 50px;
    padding-left: 26px;
    padding-right: 1px;
    font-size: 13px;
    width: 620px;
}
.newsletter .form-signup .signup button{
    border-radius: 50px;
    padding: 15px 56px;
    border: none;
    background-color: #20acca;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    width: 178px;
}
/* End newsletter */
/* ------------------------------ */
/* Begin Brands */
.brands{
    height: 230px;
}
.brands-img{
    display: flex;
    padding-top: 55px;
    justify-content: space-between;
}
.brands img{
    max-width: 100%;
    text-align: center;
}
.brands img:hover{
    transform: scale(1.5);
}
/* End Brands */
/* ------------------------ */
/* Begin Footer */
.footer{
    background-color: #f2f2f2;
    height: 316px;
}
.listfooter{
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
}
.listfooter .contact-us{
    width: 265px;
    display: inline-grid;
}
.footer-title{
    padding-bottom: 15px;
    font-size: 18px;
}
.Contact{
    height: 27.2px;
}
.listfooter .contact-us ul li{
    margin-bottom: 15px;
    list-style-type: none;
    display: flex;
    line-height: 16px;
}
.listfooter .contact-us ul li:first-child{
    margin-bottom: 15px;
    list-style-type: none;
    display: flex;
    line-height: 16px;
    margin-top: 0px;
}
.listfooter .contact-us ul li i{
    color: #20acca;
    padding: 1px 20px 0px 0px;
}
.listfooter .contact-us ul li:first-child i{
    color: #20acca;
    padding: 1px 22px 0px 0px;
}
.listfooter .contact-us ul li a{
    text-decoration: none;
    padding-left: 5px;
}
.listfooter .contact-us .icon-contact{
    display: flex;
    color: #8f8f8f;
    column-gap: 25px;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 12px;
}
.listfooter .wlist{
    width: 165px;
}
.listfooter ul li{
    margin-bottom: 16px;
    list-style-type: none;
    color: #8f8f8f;
    font-size: 13px;
}
.listfooter ul li a{
    text-decoration: none;
    color: #8f8f8f;
}
.footercopyright{
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}
.footercopyright .design{
    font-size: 12px;
    color: #8f8f8f;
}
.footercopyright .payment{
    height: 30px;
}
.footercopyright .payment img{
    width: 100%;
}
/* End footer */
